<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0"><colgroup> <col width="119"> <col width="98"> <col width="105"> <col width="101"> <col width="99"> <col width="103"> <col width="102"> <col width="98"> <col width="105"> <col width="103"> </colgroup>
<tbody>
<tr class="odd"><th class="xl74" style="width: 1033px; height: 20px;" colspan="10">Індекси сільськогосподарської продукції у 2017 році</th></tr>
<tr class="even">
<td class="xl75" style="text-align: right;" colspan="10" height="17">(у % до відповідного періоду попереднього року)</td>
</tr>
<tr class="odd">
<td class="xl76" rowspan="4" height="125"></td>
<td class="xl71" colspan="3" width="304">Господарства усіх категорій</td>
<td class="xl71" colspan="6" width="610">У тому числі</td>
</tr>
<tr class="even">
<td class="xl69" style="text-align: center;" rowspan="3" width="98" height="108">продукція сільського господарства</td>
<td class="xl71" style="text-align: center;" colspan="2" width="206">з неї</td>
<td class="xl71" style="text-align: center;" colspan="3" width="304">сільськогосподарські підприємства</td>
<td class="xl71" style="text-align: center;" colspan="3" width="306">господарства населення</td>
</tr>
<tr class="odd">
<td class="xl69" style="text-align: center;" rowspan="2" width="105" height="74">продукція рослинництва</td>
<td class="xl69" style="text-align: center;" rowspan="2" width="101">продукція тваринництва</td>
<td class="xl69" style="text-align: center;" rowspan="2" width="99">продукція сільського господарства</td>
<td class="xl71" style="text-align: center;" colspan="2" width="205">з неї</td>
<td class="xl69" style="text-align: center;" rowspan="2" width="98">продукція сільського господарства</td>
<td class="xl71" style="text-align: center;" colspan="2" width="208">з неї</td>
</tr>
<tr class="even">
<td class="xl66" style="text-align: center;" width="103" height="57">продукція рослинництва</td>
<td class="xl66" style="text-align: center;" width="102">продукція тваринництва</td>
<td class="xl66" style="text-align: center;" width="105">продукція рослинництва</td>
<td class="xl66" style="text-align: center;" width="103">продукція тваринництва</td>
</tr>
<tr class="odd">
<td class="xl65" height="17">Січень</td>
<td class="xl67" style="text-align: right;">91,8</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">91,8</td>
<td class="xl67" style="text-align: right;">84,2</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">84,2</td>
<td class="xl67" style="text-align: right;">100,8</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">100,8</td>
</tr>
<tr class="even">
<td class="xl65" height="17">Січень-лютий</td>
<td class="xl67" style="text-align: right;">92,5</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">92,5</td>
<td class="xl67" style="text-align: right;">85,3</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">85,3</td>
<td class="xl67" style="text-align: right;">100,6</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">100,6</td>
</tr>
<tr class="odd">
<td class="xl65" height="17">Січень-березень</td>
<td class="xl67" style="text-align: right;">93,2</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">93,2</td>
<td class="xl67" style="text-align: right;">86,1</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">86,1</td>
<td class="xl67" style="text-align: right;">100,8</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">100,8</td>
</tr>
<tr class="even">
<td class="xl65" height="17">Січень-квітень</td>
<td class="xl67 over" style="text-align: right;">92,6</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">92,6</td>
<td class="xl67" style="text-align: right;">84,4</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">84,4</td>
<td class="xl67" style="text-align: right;">100,9</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl67" style="text-align: right;">100,9</td>
</tr>
<tr class="odd">
<td class="xl65" height="17">Січень-травень</td>
<td class="xl68" style="text-align: right;" align="right">92,9</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl68" style="text-align: right;" align="right">92,9</td>
<td class="xl68" style="text-align: right;" align="right">84,7</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl68" style="text-align: right;" align="right">84,7</td>
<td class="xl68" style="text-align: right;" align="right">100,9</td>
<td class="xl67" style="text-align: right;">…</td>
<td class="xl68" style="text-align: right;" align="right">100,9</td>
</tr>
<tr class="even">
<td class="xl65" height="17">Січень-червень</td>
<td class="xl68" style="text-align: right;" align="right">93,4</td>
<td class="xl68" style="text-align: right;" align="right">94,3</td>
<td class="xl68" style="text-align: right;" align="right">93,3</td>
<td class="xl68" style="text-align: right;" align="right">85,2</td>
<td class="xl68" style="text-align: right;" align="right">88,9</td>
<td class="xl68" style="text-align: right;" align="right">84,8</td>
<td class="xl68" style="text-align: right;" align="right">100,0</td>
<td class="xl68" style="text-align: right;" align="right">96,4</td>
<td class="xl68" style="text-align: right;" align="right">100,8</td>
</tr>
<tr class="odd">
<td class="xl65" height="17">Січень-липень</td>
<td class="xl68" style="text-align: right;" align="right">103,2</td>
<td class="xl68" style="text-align: right;" align="right">109,6</td>
<td class="xl68" style="text-align: right;" align="right">93,4</td>
<td class="xl68" style="text-align: right;" align="right">104,2</td>
<td class="xl68" style="text-align: right;" align="right">113,8</td>
<td class="xl68" style="text-align: right;" align="right">84,7</td>
<td class="xl68" style="text-align: right;" align="right">101,9</td>
<td class="xl68" style="text-align: right;" align="right">103,1</td>
<td class="xl68" style="text-align: right;" align="right">100,6</td>
</tr>
</tbody>
</table>
</body>
</html>