<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
    <table>
        <tr>
            <th>№</th>
            <th>Показник</th>
            <th>Од. виміру</th>
            <th>Періодичність</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href = "view_parameters.html" class = "link">Індекси сільськогосподарської продукції</a></td>
            <td>%</td>
            <td>щомісяця</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Виробництво продукції тваринництва усіма категоріями господарств</td>
            <td>%</td>
            <td>щомісяця</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Кількість сільськогосподарських тварин:</td>
            <td>тис.голів (%)</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Виробництво продукції рослинництва усіма категоріями господарств</td>
            <td>тис.т (%) </td>
            <td>щомісяця</td>
        </tr>
    </table>
    </div>
</body>
</html>